ServicioWebCliente-CRUD/src/conf/xml-resources/web-service-references/ServicioWeb/wsdl/localhost_8080/ServicioWeb-CRUD/ServicioWeb.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicioweb.serviciowebcrud.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicioweb.serviciowebcrud.com/" name="ServicioWeb">
<types>
<xsd:schema>
<xsd:import namespace="http://servicioweb.serviciowebcrud.com/" schemaLocation="http://localhost:8080/ServicioWeb-CRUD/ServicioWeb?xsd=1"/>
</xsd:schema>
</types>
<message name="listarPorIdUser">
<part name="parameters" element="tns:listarPorIdUser"/>
</message>
<message name="listarPorIdUserResponse">
<part name="parameters" element="tns:listarPorIdUserResponse"/>
</message>
<message name="editar">
<part name="parameters" element="tns:editar"/>
</message>
<message name="editarResponse">
<part name="parameters" element="tns:editarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="agregar">
<part name="parameters" element="tns:agregar"/>
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse"/>
</message>
<portType name="ServicioWeb">
<operation name="listarPorIdUser">
<input wsam:Action="http://servicioweb.serviciowebcrud.com/ServicioWeb/listarPorIdUserRequest" message="tns:listarPorIdUser"/>
<output wsam:Action="http://servicioweb.serviciowebcrud.com/ServicioWeb/listarPorIdUserResponse" message="tns:listarPorIdUserResponse"/>
</operation>
<operation name="editar">
<input wsam:Action="http://servicioweb.serviciowebcrud.com/ServicioWeb/editarRequest" message="tns:editar"/>
<output wsam:Action="http://servicioweb.serviciowebcrud.com/ServicioWeb/editarResponse" message="tns:editarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://servicioweb.serviciowebcrud.com/ServicioWeb/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://servicioweb.serviciowebcrud.com/ServicioWeb/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://servicioweb.serviciowebcrud.com/ServicioWeb/listarRequest" message="tns:listar"/>
<output wsam:Action="http://servicioweb.serviciowebcrud.com/ServicioWeb/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="agregar">
<input wsam:Action="http://servicioweb.serviciowebcrud.com/ServicioWeb/agregarRequest" message="tns:agregar"/>
<output wsam:Action="http://servicioweb.serviciowebcrud.com/ServicioWeb/agregarResponse" message="tns:agregarResponse"/>
</operation>
</portType>
<binding name="ServicioWebPortBinding" type="tns:ServicioWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarPorIdUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioWeb">
<port name="ServicioWebPort" binding="tns:ServicioWebPortBinding">
<soap:address location="http://localhost:8080/ServicioWeb-CRUD/ServicioWeb"/>
</port>
</service>
</definitions>